<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
(click)="AddMatch()" data-backdrop="static" data-keyboard="false">
  Add Match
</button>

<!-- Modal for adding/editing -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" (click)="closeClick()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-add-edit-mt [match]="match" *ngIf="activateAddEditMtCom">
        </app-add-edit-mt>
      </div>
    </div>
  </div>
</div>

<!-- Modal for watching something -->
<div class="modal fade"  id="watchModal" tabindex="-1" aria-labelledby="watchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="watchModalLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" (click)="closeClick()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <div class="d-inline-block" id="box"></div>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped">
    <thead>
      <tr>
          <th>Match ID</th>
          <th>Team 1 Name</th>
          <th>Team 2 Name</th>
          <th>The Winner</th>
          <th>Team 1 Score</th>
          <th>Team 2 Score</th>
          <th>Who's played at home</th>
          <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataItem of matchList">
        <td>{{dataItem.Id}}</td>
        <td>{{getTeamName(dataItem.Team1Id)}}</td>
        <td>{{getTeamName(dataItem.Team2Id)}}</td>
        <td>{{getTeamName(dataItem.TeamWinId)}}</td>
        <td>{{dataItem.Team1Score}}</td>
        <td>{{dataItem.Team2Score}}</td>
        <td>{{getTeamName(dataItem.TeamHomeId)}}</td>
        <td>
          <button type="button" class="btn btn-primary float-right m-2" data-bs-toggle="modal" data-bs-target="#watchModal"
                  (click)="WatchGoals(dataItem)">Goals</button>
          <button type="button" class="btn btn-primary float-right m-2" data-bs-toggle="modal" data-bs-target="#watchModal"
                  (click)="WatchCards(dataItem)">Cards</button>
          <button type="button" class="btn btn-primary float-right m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
          (click)="EditMatch(dataItem)">Edit</button>
            <button type="button" class="btn btn-primary" (click)="deleteClick(dataItem)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
